.editorContainer {
  display: flex;
  width: 100%;
  position: relative;
}

.editorArea {
  position: relative;
  width: 100%;
}

.editableArea {
  padding: 20px;
  height: 600px;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: rgba(var(--color-white-rgb), 0.8);
  font-size: var(--font-size-base);
  line-height: 24px;
  color: rgba(var(--text-black-rgb), 0.9);
}

.editableArea p {
  margin-bottom: 16px;
  font-size: var(--font-size-base);
}

.editableArea h1 {
  font-size: 24px;
  color: rgba(var(--text-black-rgb), 1);
}

.editableArea h2 {
  font-size: 22px;
  color: rgba(var(--text-black-rgb), 1);
}

.editableArea h3 {
  font-size: 20px;
  color: rgba(var(--text-black-rgb), 1);
}

.editableArea h4 {
  font-size: 18px;
  color: rgba(var(--text-black-rgb), 1);
}

.editableArea ul,
.editableArea ol {
  font-size: var(--font-size-base);
  padding-left: 20px;
  margin: 0;
}

.editableArea ul li p {
  margin: 0;
  font-size: var(--font-size-base);
}

.editableArea:focus,
.editableArea:active,
.editableArea:target,
.editableArea:hover {
  outline: none;
}

.commentsEditableArea {
  padding-right: 310px;
}

.toolbarContainer {
  background-color: rgba(var(--color-secondary-rgb), 0.05);
  padding: 8px 16px;
  display: flex;
  align-items: center;
}

.toolbarContainer .inlineMarks {
  display: flex;
  background-color: var(--color-white);
  border: 1px solid rgba(var(--color-secondary-rgb), 0.5);
  border-radius: 4px;
  margin-left: 4px;
}

.toolbarContainer .inlineMarks .divider {
  width: 1px;
  background-color: rgba(var(--color-secondary-rgb), 0.5);
}

.toolbarContainer .inlineMarks button {
  padding: 7px;
}

.toolbarContainer .inlineMarks button,
.toolbarContainer .inlineMarks button:hover,
.toolbarContainer .inlineMarks button:active,
.toolbarContainer .inlineMarks button:focus {
  border-radius: 0;
  border: none;
  background-color: transparent;
}

.toolbarContainer .saveButtonContainer {
  margin-left: auto;
  display: flex;
  gap: 8px;
}

.toolbarContainer .saveButtonContainer button {
  padding: 6px 12px;
}

.toolbarContainer .saveButtonContainer button.discardBtn {
  background-color: var(--color-white);
  border: 1px solid rgba(var(--color-secondary-rgb), 0.1);
  color: var(--text-black);
}

.fontStyleContainer {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-right: 16px;
}

.fontSizeSelect {
  background-color: var(--color-white);
  min-width: 80px;
}

.fontSizeSelect {
  font-size: 14px;
  color: rgba(var(--color-secondary-rgb), 0.9);
}

.fontSizeSelect :global(.MuiSelect-select) {
  position: relative;
  z-index: 2;
}

.fontSizeSelect :global(.MuiInputAdornment-positionEnd) {
  position: absolute;
  right: 10px;
  z-index: 1;
}

.fontSizeMenu ul li {
  font-size: 14px;
  line-height: 16px;
}

.fontSizeSelect > div:first-child {
  font-size: 14px;
  line-height: 20px;
  padding: 6px 12px;
  padding-right: 32px;
}

.fontSizeSelect fieldset {
  border-radius: 4px;
  border: 1px solid rgba(var(--color-secondary-rgb), 0.5);
}
